/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--main-color);
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.decorated-zone {
  padding: 10px;
}

.header {
  display: grid;
  grid-template-rows: repeat(auto-fit);
}

.header::before {
  content: '';
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--accent-color);
  border-top: 1px solid var(--accent-color);
  margin: 0 0 40px auto;
}

.header::after {
  content: '';
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  margin: 31px auto 0 0;
}

.header__rec {
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  color: var(--accent-color);
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
  position: absolute;
  top: 10px;
  right: 19px;
}

.header__rec::after {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 100%;
  filter: drop-shadow(0px 0px 4px #FF0070);
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 2px;
}

.header__theme-menu {
  justify-self: end;
  margin-block-end: 65px;
}

.header__title {
  justify-self: start;
  color: var(--header-title-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  font-family: var(--main-font);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  margin-block-end: 55px;
}

.header__description {
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-self: end;
  text-align: left;
  text-transform: lowercase;
  color: var(--main-color);
  font-size: var(--main-font-size);
  max-width: 364px;
}

.capital-letter::first-letter {
  text-transform: uppercase;
}

.title-decor {
  background-color: var(--accent-color);
  color: #000028;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  min-height: 26px;
  color: var(--accent-color);
  padding-left: 13px;
  padding-right: 13px;
  background-color: transparent;
  text-align: center;
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  outline: none;
  text-transform: lowercase;
  border: none;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid #FF0070;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.40);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid #FF0070;
}

.section {
  padding-left: 10px;
  padding-right: 10px;
  margin-block-start: 50px;
}

.section:first-of-type {
  margin-block-start: 40px;
}

.section_why {
  display: grid;
  grid-template-rows: repeat(2, auto-fit);
  gap: 20px;
}

.section__title {
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  color: var(--accent-color);
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}

.section__description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__description a {
  cursor: pointer;
  text-decoration: none;
  text-shadow: 2px 2px 0px #FF0070; 
}

.section__description a:hover {
  text-decoration: underline;
}

.section__description a:focus-visible {
  border: 1px solid var(--card-description-color);
}

.section__description h3 {
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; 
  text-align: left;
} 

.section__description h4 {
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; 
  text-align: left;
} 

.section__description h4:first-of-type {
  margin-block-start: 10px;
}

.section__description p {
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  color: var(--card-description-color);
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; 
  margin-block-end: 10px;
} 

.section__description p:last-of-type{
  margin-block-end: 0;
}

.section__description_why {
  min-width: 355px;
}

.section_what {
  display: grid;
  grid-template-rows: repeat(3, auto-fit);
  gap: 20px;
}

.section_how {
  display: grid;
  grid-template-rows: repeat(5, auto-fit);
  gap: 20px;
}


@media screen and (width<768px) {
 .header__title{
  max-width: 355px;
 } 
}

@media screen and (min-width: 768px) {
  /* Ниже стили для шапки */
  .decorated-zone {
    padding: 20px;
  }

  .header::before {
    margin: 0 0 147px auto;
  }

  .header::after {
    margin: 138px auto 0 0;
  }

  .header__rec {
    top: 20px;
    right: 29px;
  }

  .header__theme-menu {
    margin-block-end: 173px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem); 
    margin-block-end: 162px;
    position: relative;
    right: 20px;
  }
  /* Ниже стили для секций с текстом */
  .section_why {
    grid-template-columns: repeat(2, auto-fit);
    grid-template-areas: 
    "title_why description_why"
    ". description_why";
  }

  .section__title_why {
    grid-area: title_why;
    min-width: 236px;
    justify-self: center;
  }

  .section__description_why {
    grid-area: description_why;
    min-width: 472px;
  }

  .section:first-of-type {
    margin-block-start: 60px;
  }

  .section {
    padding-left: 20px;
    padding-right: 20px;
    margin-block-start: 80px;
  }

  .section__title_what {
    grid-area: title_what;
    max-width: 236px;
  }

  .section__description_what {
    grid-area: description_what;
  }
  
  .section_what {
    grid-template-columns: repeat(2, auto-fit);
    grid-template-areas: 
    "title_what ."
    "description_what description_what";
  }

  .section_how {
    grid-template-columns: repeat(2, auto-fit);
    grid-template-areas: 
    "title_how description_how"
    ". description_how";
  }

  .section__title_how {
    grid-area: title_how;
    min-width: 236px;
    justify-self: center;
  }

  .section__description_how {
    grid-area: description_how;
    min-width: 472px;
  }
}

@media screen and (min-width: 1024px) {
  /* Ниже стили для шапки */
  .header {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    ". menu top-angle"
    "title title title"
    "description description description"
    "bottom-angle . .";
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header::before {
   grid-area: top-angle;
   margin: 0 0 274px auto;

  }

  .header::after {
    grid-area: bottom-angle;
    margin: 89px auto 0 0;
  }

  .header__title {
    grid-area: title;
    margin-block-end: 114px;
  }

  .header__description {
    grid-area: description;
    max-width: 491px;
  }

  .header__theme-menu {
   grid-area: menu;
   justify-self: center;
  }
  /* Ниже стили для секций с текстом */
  .section__title_why {
    min-width: 315px;
  }

  .section__description_why {
    min-width: 648px;
  }

  /* Выстраиваю карточки в ряд в section__what с помощью grid */
  .section__description_what {
    display: grid;
    grid-template-columns: repeat(3, minmax(315px, max-content));
    grid-template-rows: repeat(2, auto-fit);
    column-gap: 20px;
    row-gap: 10px;
    grid-template-areas: 
    "title-1 title-2 title-3"
    "text-1 text-2 text-3";
  }
  .section__description__title_1 {
    grid-area: title-1;
  }

  .section__description__text_1 {
    grid-area: text-1;
  }

  .section__description__title_2 {
    grid-area: title-2;
  }

  .section__description__text_2 {
    grid-area: text-2;
  }

  .section__description__title_3 {
    grid-area: title-3;
  }

  .section__description__text_3 {
    grid-area: text-3;
  }
  .section__title_what {
    max-width: 315px;
  }

  .section__title_how {
    max-width: 315px;
    justify-self: center;
  }
}